*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Nunito", sans-serif, "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #9734344b;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50vw;

}
